{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section id="produkt">
<div class="container">
<div class="row">
    {% if awarie_all.count > 0 %}
	<table id="result_list" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col" class="sortable column">Wydział</th>
				<th scope="col" class="sortable column">Maszyna</th>
				<th scope="col" class="sortable column">Opis awarii</th>
                <th scope="col" class="sortable column">Status</th>
				<th scope="col" class="sortable column">Zgłaszający</th>
				<th scope="col" class="sortable column">Data zgłoszenia awarii</th>
				<th scope="col" class="sortable column">Data rozpoczęcia naprawy</th>
				<th scope="col" class="sortable column">Data zakończenia naprawy</th>
			</tr>
		</thead>
		<tbody>
        {% for awarie in awarie_all %}
			<tr class="row1 text-center">
				<td class="field-wydzial">{{ awarie.wydzial }}</td>
				<td class="field-maszyna"><strong>{{ awarie.maszyna }}</strong></td>
				<td class="field-opis text-justify">{{ awarie.description }}</td>
				<th class="field-status">{{ awarie.status }}</th>
				<td class="field-declarant">{{ awarie.user }}</td>
				<td class="field-filing_date">{{ awarie.add_date |date:"d-m-Y H:i" }}</td>
				<td class="field-filing_date">{{ awarie.repair_date |date:"d-m-Y H:i" }}</td>
				<td class="field-filing_date">{{ awarie.remove_date |date:"d-m-Y H:i" }}</td>
			</tr>
        {% endfor %}
        </tbody>
        {% else %}
        <p>Brak awarii</p>
	</table>
        {% endif %}
</div>
</div>
</section>
{% endblock %}
